/*  FILE INFORMATION
    ---------------------
    Author: America Murray
    Date created: 12/21/2021
    Name: color.css

    Description: Stylesheet that controls color settings for page elements.

*/

html {
    background-color: #FFE294;
}

body {
    color: #333333;
    background-color: #fafafa;
}

*:focus {
    outline-color: orange;
}