/*  FILE INFORMATION
    ---------------------
    Author: America Murray
    Date created: 12/21/2021
    Name: color.css

    Description: Stylesheet that controls color settings for page elements.

*/


/*
    LANDMARK STYLES
*/

    html {
        background-color: #F5F5F5;
    }

    body {
        color: #333333;
        background-color: #FCFCFC;
    }


/* 
    RECIPE Styles
*/
    #recipe {
        background-color: #fce7ae;
    }


/* 
    INTERACTIVE ELEMENT STYLES
*/

    *:focus {
        outline-color: #009FC7; /* #159FC1 */
    }

    a {
        color: #EB3B00; /* #D63600 */
    }