/*  FILE INFORMATION
    ---------------------
    Author: America Murray
    Date created: 12/17/2021
    Name: layout.css

    Description: Stylesheet that controls layout, visibility, and organization of page elements. This stylesheet largely excludes typography and color properties.

*/



/* SCREEN READER STYLES */
.visually_hidden:not(:focus) {  /* Hides item from visual display while still being visible to screen readers */
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* 
    GENERAL CLASS STYLES
    ---------------------
*/
    .invisible {
        display: none;
    }


/* 
    FIGURE ELEMENT STYLES
    ---------------------
*/

figure img {
    max-width: 100%;
}