/*  FILE INFORMATION
    ---------------------
    Author: America Murray
    Date created: 12/21/2021
    Name: styles.css

    Description: Stylesheet that holds all style information for pages.

*/

/* Import layout stylesheet */
@import url(layout.css);

/* Import typography and border stylesheet */
@import url(typeborders.css);

/* Import color stylesheet */
@import url(color.css);