/*  FILE INFORMATION
    ---------------------
    Author: America Murray
    Date created: 12/21/2021
    Name: styles.css

    Description: Stylesheet that holds all style information for pages.

*/