/*  FILE INFORMATION
    ---------------------
    Author: America Murray
    Date created: 12/22/2021
    Name: typeborders.css

    Description: Stylesheet that controls typography and border properties.  Symbols and icon styles are included in this stylesheet.  This stylesheet does not include color.

*/


/*  
    LANDMARK STYLES
    ---------------------
*/

    body {
        line-height: 1.25em;
    }

/*
    RECIPE STYLES
    ---------------------
*/
    #recipe {
        border: 4px double;
    }


/*  
    INTERACTIVE ELEMENT STYLES 
    ---------------------    
*/
    /* SET FOCUS STYLE -- do not remove! Needed for keyboard focus */
    *:focus {
        outline-width: 4px !important;
        outline-style: dashed;
    }

    /* <a> element styles */
        a {
            text-decoration: underline;
            font-weight: bold;
            text-underline-offset: 0.2em;
        }