/*  FILE INFORMATION
    ---------------------
    Author: America Murray
    Date created: 12/22/2021
    Name: typeborders.css

    Description: Stylesheet that controls typography and border properties.  Symbols and icon styles are included in this stylesheet.  This stylesheet does not include color.

*/


/*  
    INTERACTIVE ELEMENT STYLES 
    ---------------------    
*/
    /* SET FOCUS STYLE -- do not remove! Needed for keyboard focus */
    *:focus {
        outline: 5px solid !important;
    }

    /* <a> element styles */
        a {
            text-decoration: underline;
            font-weight: bold;
            text-underline-offset: 0.2em;
        }

        a[target="_blank"]::after { /* Links that open in new window */
            /* FIXME: this property will need to be added to CSS via JavaScript */
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 0 24 24" width="16px" fill="currentColor"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z" /></svg>');
        }


/*  
    INTERACTIVE ELEMENT STYLES 
    ---------------------    
*/