/*  FILE INFORMATION
    ---------------------
    Author: America Murray
    Date created: 12/22/2021
    Name: typeborders.css

    Description: Stylesheet that controls typography and border properties.  Does not include color.

*/